# API
PORT=8080
ORIGINS=http://localhost:3000,http://localhost:5173

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=54321
POSTGRES_DB=myapp
POSTGRES_USER=postgres
POSTGRES_PASSWORD=passw0rd

# Testing PostgreSQL
TEST_POSTGRES_HOST=localhost
TEST_POSTGRES_PORT=54322
TEST_POSTGRES_DB=myapp
TEST_POSTGRES_USER=postgres
TEST_POSTGRES_PASSWORD=passw0rd