APP_ENV="dev"
PORT="8080"

FRONTEND_URL="http://localhost:8081"

REDIS_HOST="redis"
REDIS_PORT="6379"

# Database Configuration
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=kaimon

# Test Database Configuration
TEST_DB_HOST=test-db
TEST_DB_PORT=5432
TEST_DB_USER=postgres
TEST_DB_PASSWORD=password
TEST_DB_NAME=kaimon_test

# Firebase Configuration
GOOGLE_APPLICATION_CREDENTIALS="/go/src/app/service-account-file.json"